/* Header Styles */

.headerBox {
	display: grid;
	grid-template-columns: 100px 3fr 2fr 2fr;
	grid-template-areas: "picture basic status extras";
	gap: 1rem;
	align-items: start;
}

.profile-img {
	grid-area: picture;
	height: 100px;
	width: 100px;
	max-width: fit-content;
	cursor: pointer;
	align-self: center;
}

.profile-img:hover {
	box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.basicFieldsBox {
	grid-area: basic;
}

.statusBox {
	grid-area: status;
}

.extraInfoBox {
	grid-area: extras
}

.statusBox dd, 
.extraInfoBox dd {
	margin-left: 0;
}

.derivedDamageBox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2rem;
}

/* Body (Sidebar + Content) Styling */

.body {
	height: 600px;
	display: grid;
	grid-template-columns: 10rem 1fr;
	padding-top: 8px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	border-right: 1px solid var(--color-tabs-border);
	padding-right: 8px;
}

.statList {
	display: grid;
	grid-template-columns: 1fr;
}

.tabs {
	height: fit-content;
	gap: 0;
	flex: 0;
}

.menuItem {
	border-top: 1px solid var(--color-tabs-border);
	border-bottom: 1px solid var(--color-tabs-border);
	width: 100%;
	display: block;
	align-content: center;
	padding: 0.4rem 0;
	font-size: var(--font-size-16);
}

.content {
	padding-left: 8px;
	min-width: 0;
	min-height: 0;
}

/* Generic Styles */
.input {
	text-align: right;
}

.center{
	align-self: center;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1rem;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
    margin-top: 0;
}

.indent {
	padding-left: 1rem;
}

.full {
	height: 100%;
	width: 100%;
}

.tab .input {
	height: 1.75rem;
}



.noBorder {
	border-style: none;
}

.noPadding {
	padding: 0;
}

dl dd {
    margin: 0 0 0.5rem 0.5rem;
}

/* Page Specific Styles */
.skillsBox {
	flex-wrap: wrap;
	max-height: 100%;
	max-width: calc(100% / 3);
}
.skillsBox2 {
	flex-wrap: wrap;
	max-height: 100%;
	max-width: calc(100% / 2);
}